<% include partials/header %>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>
<div class="container">
	
		<div class="jumbotrons">
		<h1>WELCOME</h1>
		<h3>WE ARE A FEAST OF FRIENDS</h3>
		

		
	</div>
</div>

<div class="container-fluid">
    <div class="row">
        
       	<div id="photo">
        	
     	
        	<div class="col-md-4">
            	<img alt="subash ji"src="/raw/subash.PNG">
            	<dl>
                	<dt>
                   		Subash Basnet
                	</dt>
                </dl>
        	</div>
        	<div class="col-md-4">
            	<img alt="uttamam daddadat" src="/raw/uttam.PNG">
            	<dl>
                	<dt>
                    	Uttam Sapkota
                	</dt>
                

            	</dl>
            </div>
        	<div class="col-md-4">
            	<img alt="dhunga" src="/raw/pratik.PNG">
            	<dl>
                	<dt>
                   		Pratik Dhungel
                	</dt>
                </dl>
        	</div>
            <div class="col-md-2"></div>
        	<div class="col-md-4">
            	<img alt="chopra" src="/raw/roshan.PNG">
            	<dl>
                	<dt>
                   		Roshan Gautam
                	</dt>
                	<dd>
                    	
                	</dd>
                </dl>
        	</div>
        	<div class="col-md-4">
            	<img alt="rajan budo" src="/raw/rajan.PNG">
            	<dl>
                	<dt>
                   		Rajan Maharjan
                	</dt>
                </dl>
        	</div>
            <div class="col-md-2"></div>
    	</div>
	</div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
				
</body>
</html>


