<% include ./partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/thumbnail.css">
<div class="container">
	<div class="jumbotron annapurna">
		<h1>Welcome to Locate Places</h1>
		<h3> Login with your username and password to add your places.</h3>


		
	</div>
<div class="container">
	<form action="/login" class="col-md-5 col-md-offset-3" method="POST">
			<div class="form-group">
				<label for="user"> Username</label>
				<input type="name" class="form-control" id="user" name="username" placeholder="username">
			</div>
			<div class="form-group">
				<label for="password"> Password</label>
				<input type="password" class="form-control id="password" pattern=".{6,15}" required title ='6 to 15 characters' name="password" placeholder="password">
			</div>
			<button>Log In</button>
		</form>
</div>

<% include ./partials/footer.ejs %>