<% include ./partials/header %>
<head>
	<title>Campgrounds</title>
</head>
<body>
<h1>Your Places:</h1>
<br>
<% users.forEach(function(camps){ %>
	<a href="/campgrounds/<%=camps.id%>"><h4> <%= camps.name %> </h4></a>

<% }); %>
</body>
<% include ./partials/footer %>