<% include ./partials/header %>
<head>
	<title>Your Places</title>
</head>
<body>
<h1>Your Places:</h1>
<br>
<% users.forEach(function(camps){ %>
	<a href="/places/<%=camps.id%>"><h4> <%= camps.name %> </h4></a>

<% }); %>
</body>
<% include ./partials/footer %>