<% include ./partials/header.ejs %>
<div class="container">
	<div class="jumbotron">
		<h1>Welcome to Locate Places</h1>
		<h3>Sign Up</h3>
	</div>
	<div class="container">
		<form action="/register" class="col-md-5 col-md-offset-3" method="POST">
			<div class="form-group">
				<label for="firstname"> First Name</label>
				<input type="name" name="firstname" class="form-control" id='firstname' placeholder="First Name" required>
			</div>

			<div class="form-group">
				<label for="firstname"> Last Name</label>
				<input type="name" name="lastname" class="form-control" id='lastname' placeholder="Last Name" required>
			</div>
	
			<div class="form-group">
				<label for="user"> Username</label>
				<input type="name" class="form-control" id="user" name="username" placeholder="username" required>
			</div>
			<div class="form-group">
				<label for="email"> Email</label>
				<input type="email" class="form-control id="email" name="email" placeholder="example@example.com" pattern=".+.com" required>
			</div>
			<div class="form-group">
				<label for="password"> Password</label>
				<input type="password" class="form-control id="password" pattern=".{6,15}" required title ='6 to 15 characters' name="password" placeholder="password" required>
			</div>
			<button>Sign Up</button>
		</form>
	</div>
</div>

<% include ./partials/footer.ejs %>
