<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/thumbnail.css">
<div class="container">
	<header class="jumbotron annapurna">
		<div class="container">
			<h1>Welcome to Nepal</h1>
			<h3>Explore</h3>
			<p>
				<a class = "btn btn-primary btn-large" href="/places/new">Add New Place</a>
			</p>
		</div>
	</header>

	<div class="row text-center">
	<% camp.forEach(function(camp){ %>
		<div class='col-md-3 col-sm-6'>
			<div class='thumbnail'>
			<a href="/places/<%=camp.id%>">
				<img src="../uploads/<%=camp.img.data%>">
				<div class="caption">
					<h4><%=camp.name%></h4>
					<!-- <h4><%=camp.views%></h4> -->
				</div>
			</a>
			</div>
		</div>
	<%});%>
	</div>
<% include ../partials/footer %>
</div>