
.row img{

	
  max-height:200px;

}
.jumbotron{
	background-color: #83B5B1;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
				 0px 8px 13px rgba(0,0,0,0.3),
				 0px 18px 23px rgba(0,0,0,0.1);
}
#photo {
	text-align: center;
	padding-top: 4%;
}

.container{
	font-family: Lato;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 2%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
				 0px 8px 13px rgba(0,0,0,0.3),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h3 {
	font-weight: 700;
	font-size: 3em;
}