
.thumbnail img{

	width:100%;
  max-height:100px;
}
.thumbnails img{

	width:100%;
  
}

.thumbnail .caption-full{
	padding:9px;
}

.inlineform{
	display:inline;
}

.pad {
    padding-top: 8%;
    }

